.portfolio-container{
    background-color: black;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.portfolio-title-container h1 {
    color: white;
    font-size: 54px;
}

.portfolio-title-container div{    
    width: 10%;
    background-color: rgb(11, 156, 149);
    height: 2px;
}

/*CARDS*/

.cards-container{
    color:white;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 5rem;
    gap: 4rem;
    width: auto;
    /* width: 500px; */
}

.card{
    width: 60vh;
    background-color: white;
    padding: 0em !important;
    /* overflow: hidden; */
    -webkit-box-shadow: 0px 0px 11px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 11px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 11px 1px rgba(255,255,255,1);    
}

.card img {
    width: 100%;
    height: auto;    
    transition: all 1s;
}

.card-image-container{
    overflow: hidden;
}

.card img:hover{
     transform: scale(1.3);

}
.card-content{
    color: black;
    background-color: white;
    padding: 0.4rem;
    overflow: hidden;
}
.card-content p {
    font-size: 12px ;
}

.card-title{
    font-weight: 600;
}

@media screen and (max-width: 480px){
    .portfolio-container h1{
        font-size: 32px;
    }
    .portfolio-title-container div{    
        width: 20%;
    }
}