.contact-container{
    background-color: black;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100vh;    
}

.contact-container h1 {
    color: white;
    font-size: 54px;
}

.contact-container .contact-title-underline{    
    width: 10%;
    background-color: rgb(11, 156, 149);
    height: 2px;
}

.contact-icons-container{
    /* margin-top: 4rem; */
    display: flex;
    flex-direction: column; 
    color: white;  
    gap: 4rem;
    width: 70vh;   
}
.contact-icons-container svg {
    color: white;
    background-color: rgb(11, 156, 149);
    border-radius: 100px;
    padding: 0.9rem;
    width: 9vh;
    transition: 1s;
}
.contact-icons-container svg:hover {
    color: white;
    background-color: rgb(6, 117, 112);
    border-radius: 100px;
    padding: 0.9rem;
    width: 9vh;
}

.contact-icons-container h3 {
    font-size: 22px;
    font-weight: 600;
} 

 .contact-icons-details{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    /* margin-bottom: 4rem; */
}

.contact-formIcon-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem ;
}

.form-control {
    color: white;
    display: flex;
    flex-direction: column; 
}

.form-control input {
    background-color: rgb(44, 42, 42);
    width: 50vh;
    height: 6vh;
    border-radius: 7px;

}
.form-control label {
    /* margin-top: 1rem; */
    font-weight: 600;
    font-size: 15px;
}

.label-message, .label-email {
    margin-top: 1rem;
}

.form-control #input_message {
    background-color: rgb(44, 42, 42) ;
    border-radius: 7px;
    height: 20vh; 
    border-color:rgb(11, 156, 149);  
}

.form-control input:hover, #input_message:hover{
    border-width: 2px;
    border-color:rgb(11, 156, 149);
}

.contact-btn-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.7rem;
    
}
.contact-btn-container button{
    color: white;
    width: 100%;
    background-color: rgb(6, 117, 112);
    border-radius: 7px;
    padding: 0.3rem;
    transition: 0.5s;
}

.contact-btn-container button:hover{
    background-color: rgb(11, 156, 149);    
}
