
.header-container{
    position: relative;
    background-image: url(/public/assets/header_background.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(2, 2, 2, 0.5);
    opacity: 0.9;
    z-index: 1;
    height: 600px;
    display: flex;
    justify-content: center; /* Centrar vertical y horizontalmente el texto */
    align-items: center;
}