
.header-container{
    position: relative;
    background-image: url(/public/assets/header_background.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(2, 2, 2, 0.5);
    color:white;
    opacity: 0.9;
    z-index: 1;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar vertical y horizontalmente el texto */
    align-items: center;
}

.header-container h1 {
    font-size: 64px;
    font-weight: 600;
    /* letter-spacing: 2px; */
    line-height: 56px;
}

.header-text-container {
    position: absolute;
    top:40%;
    left: 20%;
}
.header-subtitle-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
}

.social-networks-container{
    margin-top: 3rem;
}

.social-networks-container svg{
    margin-right: 2rem;
    height: 25px;
    color: white;
}