.navbar-container{
    position: absolute;
    z-index: 2;
    margin:1rem;
    margin-top:9rem;
}

.navbar-container ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.8rem;
    padding-bottom: 1rem;
    /* position: absolute; */
    background-color: rgb(11, 156, 149);
    color: white;  
    gap: 2rem;  
    width: fit-content;
    padding: 0.8rem;
    border-radius: 50px;;
    justify-content: center;
    text-align: center;
}
.navbar-container ul li:hover  {
    background-color:rgb(6, 117, 112) ;
    transition: 0.5s;
}

.navbar-container ul li span{
    margin-right: 0.3rem;
    }


.navbar-icons {
    width: 40px;
}


/* Estilo para ocultar el span inicialmente */
.hidden-span {
    display: none;       
  }
  
  /* Estilo para mostrar el span cuando se hace hover en el icono */
  .navbar-container ul li:hover .hidden-span {
    display: inline-block;    
    /* background-color:rgb(11, 156, 149) ;     */
  }


  .container-menu-icon{
    position: absolute;
    color: white;
    z-index: 2;
    display: none;
    margin: 1rem;
    cursor: pointer;
  }
  .container-menu-icon{
    color: white;
    width: 40px;
  }

  .navbar-container.open {
    display: block; /* Muestra el menú cuando está activo */  
}

  /* MEDIA QUERIES */

  @media screen and (max-width: 925px){
    .navbar-container {
        position: absolute;
        display: none;
        background-color: white;
        width: 50vh;
        height: 80vh;
        margin-top: 6rem;
        padding: 2rem;
    }
    .container-menu-icon{
        display:block;
      }

      .hidden-span {
        display: block;       
      }      
      .navbar-container ul li{
        width: 100%;
      }   
  } 

