.navbar-container{
    position: absolute;
    z-index: 2;
    margin:1rem;
    margin-top:9rem; 
    /* position: sticky;   */
}

.navbar-container ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.8rem;
    padding-bottom: 1rem;
    /* position: absolute; */
    background-color: rgb(11, 156, 149);
    color: white;  
    gap: 2rem;  
    width: fit-content;
    padding: 0.8rem;
    border-radius: 50px;;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.navbar-container ul li:hover  {
    background-color:rgb(6, 117, 112) ;
    transition: 0.5s;
}

.navbar-container ul li span{
    margin-right: 0.3rem;
    }


.navbar-icons {
    width: 40px;
}


/* Estilo para ocultar el span inicialmente */
.hidden-span {
    display: none;       
  }
  
  /* Estilo para mostrar el span cuando se hace hover en el icono */
  .navbar-container ul li:hover .hidden-span {
    display: inline-block;    
    /* background-color:rgb(11, 156, 149) ;*/
  }


  .container-menu-icon{
    position: absolute;
    color: white;
    z-index: 2;
    display: none;
    margin: 1rem;
    cursor: pointer;
    width: 40px;
  }
  .container-menu-icon svg{
    position: fixed;
    width: 40px;
    
  }
  /* MEDIA QUERIES */

  @media screen and (max-width: 925px){
    .navbar-container {
        position: absolute;
        /* display: none; */
        transform: translateY(-120%);
        background-color: rgb(248, 247, 247);        
        height: 80vh;
        margin-top: 6rem;
        padding: 2rem;
    }
    .navbar-container.open {
        display: block;
        width: 42vh; 
        position: fixed;
        margin-left: 0;
        border-radius: 10px;
        transform: translateX(0%);
        transition: transform 1s ease;    
    }
    .navbar-container.close {
        width: 42vh; 
        margin-left: 0;
        border-radius: 10px;
        transform: translateX(-120%);
        transition: transform 0.5s ease-out;    
    }

    .container-menu-icon{
        display:block;
      }

      .hidden-span {
        display: block;       
      }      
      .navbar-container ul li{
        width: 100%;
      }   
  } 

